<footer class="main-footer">
    
</footer>
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="<%- site_url('admin/custom/app.js') %>"></script>
</body>
</html>