
<script type="text/javascript" src="<%- site_url('front/custom/js/jquery.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/popper.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/bootstrap.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/main.js') %>"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from brandio.io/envato/iofrm/html/register8.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Aug 2018 08:02:24 GMT -->
</html>
