<%- include ../layouts/adminheader.ejs %>
<%- include ../layouts/adminsidebar.ejs %>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="pull-left">
                            <h3 class="box-title">Role List</h3>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default back_to_history"> <span class="fa fa-arrow-left"> Go Back</a>
                            <a href="" class="btn btn-default refreshlist"> <span class="fa fa-refresh"></a>
                            <a href="" class="btn btn-info addRole"> <span class="fa fa-plus"> Add New </a>
                        </div>
                    </div>
                    <div class="box-body">
                   <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="" >Sr. No.</th> 
                                    <th class="" >Role title</th>
                                    <th class="" >Role Slug</th>
                                    <th class="" >Role Description</th>
                                </tr>
                            </thead>
        
    </table>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>


<div class="modal fade" id="roleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Add/Edit Role </h4>
            </div>
            <form role="form" id="roleFrm" name="roleFrm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="role_title"> Role title </label>
                        <input type="text" class="form-control" id="role_title"  name="role_title" placeholder="Enter Role Title..">
                    </div>
                    <div class="form-group">
                        <label for="role_slug"> Role Slug </label>
                        <input type="text" class="form-control" id="role_slug"  name="role_slug" placeholder="Enter Role Slug..">
                    </div>

                    <div class="form-group">
                        <label for="role_description"> Role Description </label>
                        <input type="text" class="form-control" id="role_description"  name="role_description" placeholder="Enter Role Description..">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success submtBtn" id="submtBtn" value="Submit"> 
                </div>
            </form>
        </div>

    </div>
</div>
<script src="../../admin/custom/role/list.js"></script>

<%- include ../layouts/adminfooter.ejs %>
