<%- include ../layouts/adminheader.ejs %>
<%- include ../layouts/adminsidebar.ejs %>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="pull-left">
                            <h3 class="box-title">Categories List</h3>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default back_to_history"> <span class="fa fa-arrow-left"> Go Back</a>
                            <a href="" class="btn btn-default refreshlist"> <span class="fa fa-refresh"></a>
                            <a href="" class="btn btn-info addCategory"> <span class="fa fa-plus"> Add New </a>
                        </div>
                    </div>
                    <div class="box-body">
                   <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="" >Sr. No.</th> 
                                    <!--<th class="" >Parent</th>-->
                                    <th class="" >Image</th>
                                    <th class="" >title</th>
                                   <th class="" >Description</th>
                                   <th class="" > Action </th>
                                   <th class="" > Sub category </th>
                                </tr>
                            </thead>
        
    </table>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>


<div class="modal fade" id="categoryModal" role="dialog" enctype='multipart/form-data'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Add/Edit Category </h4>
            </div>
            <form role="form" id="cateFrm" name="cateFrm">
                <div class="modal-body">
                   
					
					<div class="form-group">
                        <label for="image"> Category Image </label>
                        <input type="file" class="form-control" id="image"  name="image">
                    </div>
					
					
					<div class="form-group">
                        <label for="title"> title </label>
                        <input type="text" class="form-control" id="title"  name="title" placeholder="Enter Title..">
                    </div>
                    

                    <div class="form-group">
                        <label for="description">  Description </label>
                        <textarea class="form-control" id="description"  name="description" placeholder="Enter Description.."></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success submtBtn" id="submtBtn" value="Submit"> 
                </div>
            </form>
        </div>

    </div>
</div>
<script>
 var parent_id = "<%- parent_id %>";
</script>
<script src="../../admin/custom/category/list.js"></script>

<%- include ../layouts/adminfooter.ejs %>
