<div class="row">
<div id="wrapper" class="wrapper clearfix">
<% if(!data){ %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSlhXQ8ixpBW6CLmCJWOIvQXmwzXwlbj4&callback=initMap" type="text/javascript"></script>
<% } %>
<%- include ../layouts/header.ejs %>
<% include ../functions.ejs %> 

<!-- Page Title #1
============================================= -->
<section  class="task-banner">
    <div class="container">
		<div class="col-md-2">
			<label>50km & remotely</label>
				<select class="form-control">
					<option>in person</option>
					<option>Remotely</option>
					<option>All</option>
				</select>
		</div>
		<div class="col-md-3">
			<label>City</label>
			<input type="text" class="form-control" name="" placeholder="Enter a Suburb">
		</div>
		<div class="col-md-2">
			<label>Distance</label>
			<input type="range" name="">
		</div>
		<div class="col-md-2">
			<label>Any Price</label>
			<input type="range" name="">
		</div>
		<div class="col-md-3">
			<label>Task type</label> <br>
			<input type="checkbox" name="tasktype"> Hide already assigned tasks
		</div>		
	</div>    
    <!-- .container end -->
</section>
<!-- #page-title end -->

<section id="task">
	<div class="container">
		<div class="col-md-4">
			<div class="task-left">
			<ul class="list locations" style="">
			
			<% if (posts != null) { %>
			<% posts.forEach(function(val) { %>
			<% if(slug=="my-task"){ %>
			   <a href="<%= site_url('post/my-task/') %><%= val._id %>" class="new-task new-task-open">
			 <% } else{ %>  
			   <a href="<%= site_url('post/details/') %><%= val._id %>" class="new-task new-task-open">
			<% } %>
			
				<div class="new-task-header">
					<span class="new-task-title"><%= val.title %></span>
					<div class="new-task-price">
						<span>$<%= val.budget %><% if(val.budget_type=="hourly"){ %>    <%= "/hr" %> <% } %></span>
					</div>
				</div>
				<div class="new-task-body">
					<div class="avatar-img new-avatar">
						<img src="https://eu7cmie.cloudimg.io/s/crop/64x64/https://assets-airtasker-com.s3.amazonaws.com/uploads/user/avatar/2141015/profilepic-42764e396448d72935559718f1c605ef.jpeg" alt="" width="32" height="32"></div>
					<div class="new-task-online at-icon-online">
						<span class="new-task-detail"><i class="fa fa-dot-circle-o"></i> Remote</span>
					</div>
					<div class="new-task-date at-icon-calendar">
						<span class="new-task-detail">
							<i class="fa fa-calendar"></i> <%= val.created_at %>
						</span>
					</div>
				</div>
				<div class="new-task-footer"><span class="new-task-status">Open</span></div>
			</a>
			
			<li style="display:none">
			<div class="location-name">Place 1</div>
			<div class="location-address"><%= val.title %><br>BUDGET:<%= val.budget %><br><a href="<%= site_url('post/details/') %><%= val._id %>">View Task</a></div>
			<div class="location-lat"><%= val.location.coordinates[0] %></div>
			<div class="location-lng"><%= val.location.coordinates[1] %></div>
		  </li>
			<% }); %>
			<% }else { %>
			<p style="error msg"> no post found </p>
			<a href="<%= site_url('account/addtask/') %>" class="btn btn--primary btn--bordered">Post A Task</a>
			<% }%>
			</ul>
			
			<% if(!req.session.Auth){ %>
			<div class="task-left-footer">
				<h5 class="text-center">To see more Task</h5>
				<a href="#" class="btn btn--primary btn--rounded btn-sm">Join Us</a>
				or
				<a href="#" class="btn btn--primary btn--rounded btn-sm">Login</a>
			</div>
			<% } %>
		</div>
	</div>

		
		
	<div class="col-md-8">
		
			<% if(data){ %>
			<div class="task-right">
				<div class="row">
					<div class="col-md-8">
						<div class="topbar">
							<div class="steps">
								<span class="step done">Open</span>
								<span class="step done">Assigned</span>
								<span class="step"> Completed</span>
							</div>
							<% if(req.session.Auth){ %>
							
							<% if(typeof favdata != "undefined"){ %>
							
							<div class="followbutton">
								<a href="#" class="favBtn" id="<%-data._id %>"><i class="fa fa-heart"></i>
								Added</a>
							</div>
							 <% }else{ %>
							 <a href="#" class="favBtn" id="<%-data._id %>"><i class="fa fa-heart-o"></i>Favorites</a>
							<% } %>
							<% } %>
						</div>

						<h2><%-data.title %></h2>

						<div class="post-detail">
							<div class="posted-list">
								<div class="post-icon">
									<img src="https://eu7cmie.cloudimg.io/s/crop/64x64/https://assets-airtasker-com.s3.amazonaws.com/uploads/user/avatar/580396/11156294_10155430289220125_6549823208865804632_n-5acac24617771c12d994e33b26c3143f.jpg" width="32" height="32px">
								</div>
								<div class="post-details">
									<div class="post-label">Posted by </div>
									<a href="<%= site_url('profile/') %><%-data.user_id.first_name %><%-data.user_id.last_name %>/<%-data.user_id._id %>"><%-data.user_id.first_name %>  <%-data.user_id.last_name %></a>
									
									
									
									<span class="pull-right">2 hours ago</span>
									
									
									
									
									
									
									
								</div>
							</div>

							<div class="posted-list">
								<div class="post-icon">
									<i class="fa fa-map-marker"></i>
								</div>
								<div class="post-details">
									<div class="post-label">Location </div>
									49 Market St, Sydney NSW 2000 Australia
								</div>
							</div>

							<div class="posted-list">
								<div class="post-icon">
									<i class="fa fa-calendar"></i>
								</div>
								<div class="post-details">
									<div class="post-label">Due date </div>
									 <%-data.created_at %>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-4 task-rightbar">
						<div class="offer-box">
							<h5>Task Budget</h5>
							
							<h4>$<%-data.budget %><% if(data.budget_type=="hourly"){ %>    <%= "/hr" %> <% } %></h4>
							
							
							<% if (req.session.Auth) { %>
							<% if (data.user_id._id != req.session.Auth._id && !useroffer) { %>
								<a href="#" class="btn btn--primary btn--rounded" id="make_an_offer">Make an Offer</a>
							<% } else if (data.user_id._id != req.session.Auth._id && useroffer) { %>
								 <a href="#" class="btn btn--primary btn--rounded" id="make_an_offer" >edit  Offer</a>
							<% } else if (data.user_id._id == req.session.Auth._id) { %>
								 <a href="#" class="btn btn--primary btn--rounded reviews" >Review offers</a>
								 
							<% }  %>
							
							<% } else{ %>
							<a href="<%= site_url('login') %>" class="btn btn--primary btn--rounded" >Make an Offer</a>
							<% } %>
						</div>

						<div class="form-group">
							<select class="form-control">
								<option>More Options</option>
								<option>Post a Similar task</option>
								<option>Set up Alerts</option>
							</select>	
						</div>

						<div class="social-shares">

							<h6>Share</h6>
							<div id="shareIconsCountInside"> </div>
						</div>

						<a href="#" class="report-task"><i class="fa fa-flag-checkered"></i> Reoprt this task</a>

					</div>
				</div>

				<div class="post-description">
					<h6>Detail</h6>
					<p><%-data.description %></p>	
					
				</div>


				<div class="task-activity">
							<h6>Task Activity</h6>
							<div class="activity-header"> <span>1 Comment About This Task</span></div>
							<p>Comment below for more details and remember that for your safety, not to share personal information e.g. email and phone numbers.</p>
						
				
							<form name="comment" id="comment">
								<div class="form-group">
									<textarea class="form-control" name="comment" id="comment" rows="2" placeholder="Ask NIck a Question" required="" aria-required="true"></textarea>
								</div>
								<div class="form-group">
									<input type="file"> 
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn--primary">Send </button>
								</div>
							</form>
				</div>
				
				
				
				<ul class="nav nav-tabs comment-tab">				
					<li class="active"><a data-toggle="pill" href="#comments">Comments</a></li>
					<li><a id="clickedbtn" data-toggle="pill" href="#offers">Offers</a></li>    
				</ul>
				
			<div class="tab-content">
			
			<% if(!req.session.Auth){ %>
				<div class="task-left-footer">
				<h5 class="text-center">To see more Task</h5>
				<a href="#" class="btn btn--primary btn--rounded btn-sm">Join Us</a>
				or
				<a href="#" class="btn btn--primary btn--rounded btn-sm">Login</a>
				</div>
			<% } else { %>
			
			    <div id="comments" class="tab-pane fade in active">
			      <div class="post-offers">
					

					<% if(typeof(commentdata) != "undefined") { %>
					 <% commentdata.forEach(function(value) { %>
						<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object" src="https://eu7cmie.cloudimg.io/s/crop/80x80/https://assets-airtasker-com.s3.amazonaws.com/uploads/user/avatar/1983748/2013-11-19_10-100ab106d24d06430c9089ceca516e52.25.14.jpg" alt="..." width="40px" height="40px">
						    </a>
						  </div>
						  
						  <div class="media-body">						  
						   <a class="user-name" href="<%= site_url('profile/') %><%-value.user_id.first_name %><%-value.user_id.last_name %>/<%-value.user_id._id %>"><%-value.user_id.first_name %>  <%-value.user_id.last_name %></a>
							
							<div class="tasker-status">
						    	<div class="rating">
						    		<img src="<%= site_url('front/assets/images/star.png') %>">
						    		<img src="<%= site_url('front/assets/images/star.png') %>">
						    		<img src="<%= site_url('front/assets/images/star.png') %>">
						    		<img src="<%= site_url('front/assets/images/star.png') %>">
						    		<img src="<%= site_url('front/assets/images/star.png') %>">
						    		
						    	</div>
						    	<div class="bid-compliteratio">
						    		<strong>100%</strong> Completion rate
						    	</div>
						    </div>
						    <div class="comments">
							
						    	<%= value.comment%>
						    </div>
						    <small>2 hour ago</small>
						    </div>
						  </div>
						
									
						
                                <% }); %>  
								<% } %> 
					</div>
					
								<% } %>
					
					
						
						<% } else{ %>
						<div id="map" style="width: 100%; height: 70%;"></div>
						
						
    
    
	</div>
	<% } %>
	
	<!---offer start here --->
	<div id="offers" class="tab-pane fade">
	
	
	 
	 
	
	<% if(typeof proposals != 'undefined' && proposals !="" ){ %>
		 <% proposals.forEach(function(pvalue) { %>
		 
		<div class="row">
		 	<div class="col-md-9 col-sm-8">

		 	<div classs="media">

		 <div class="media-left">
			 <a href="#">
				<img class="media-object" src="https://eu7cmie.cloudimg.io/s/crop/80x80/https://assets-airtasker-com.s3.amazonaws.com/uploads/user/avatar/1983748/2013-11-19_10-100ab106d24d06430c9089ceca516e52.25.14.jpg" alt="..." width="40px" height="40px">
			 </a>
		</div>

		<div class="media-body">
								
								<a class="user-name" href="<%= site_url('profile/') %><%-pvalue.user_id.first_name %><%-pvalue.user_id.last_name %>/<%-pvalue.user_id._id %>"><%-pvalue.user_id.first_name %>  <%-pvalue.user_id.last_name %></a>
								
								
								
								<div class="tasker-status">
									<div class="rating">
										<img src="<%= site_url('front/assets/images/star.png') %>">
										<img src="<%= site_url('front/assets/images/star.png') %>">
										<img src="<%= site_url('front/assets/images/star.png') %>">
										<img src="<%= site_url('front/assets/images/star.png') %>">
										<img src="<%= site_url('front/assets/images/star.png') %>">
										
									</div>
									<div class="clearfix"></div>
									<div class="bid-compliteratio">
										<strong>$ <%= pvalue.offer_amount %></strong>
										<div class="price">	
										
									</div>
								</div>

								<div class="comments">
										<%= pvalue.offer_description %>
									</div>
								</div>
								</div>
			</div>
		 	</div>
		 	<div class="col-md-3 col-sm-4 offer-btns">
		 	<% if(awarded!= "undefined" && awarded!= null){ %>
									
									<% if (awarded!= "undefined" && awarded!= null &&  req.session.Auth._id == awarded.awarded_to && awarded.status==1) { %>
									
										 <a href="#" accept_award_id="<%-awarded._id %>"  id="<%-data._id %>" ato="<%-pvalue.user_id._id %>" cby="<%-data.user_id._id %>" class="btn btn-primary btn-rounded btn-sm awarduser">Accept</a>
									<% } else if (awarded!= "undefined" && pvalue.user_id._id == awarded.awarded_to && awarded.status==1) { %>
									
									   <span class="badge badge-success">Awaiting for acceptance</span>
									<% } else if (awarded!= "undefined" && pvalue.user_id._id == awarded.awarded_to && awarded.status==2) { %>
									  
									   <a href="#" class=" btn btn-primary btn-rounded btn-sm" id="">start a chat</a>
									  <div class="clearfix"></div> 
									  <span class="badge badge-success">Accepted</span>

									<% } %>
									
									<% } else if (data.user_id._id == req.session.Auth._id) { %>
									<a href="#" id="<%-data._id %>" ato="<%-pvalue.user_id._id %>" cby="<%-data.user_id._id %>" class="awarduser btn btn-primary  btn-sm btn-rounded" id="">Award</a>
										
									<% } %>
		 	</div>
		 </div>
		 <hr>
			
			
			<% });%>	
		<% }%>	
   
		</div>		
	</div>
</div>	
</div>
</section>





<!-----modal for make an offer ------>
<!-- Modal -->
<div class="modal fade" id="makeoffer_modal" tabindex="-1" role="dialog" aria-labelledby="makeoffer_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Make An Offer</h4>
			</div>
			<div class="modal-body">
			
			<form action="#" id="createoffer" name="createoffer">
			
				<div class="form-group">
					<label for="offer_amount" >Offer Amount ($)</label>
					<input type="text" id="offer_amount" class="form-control" name="offer_amount" placeholder="100" value="<% if(typeof useroffer!= 'undefined'){ %><%= useroffer.offer_amount !=='undefined' ? useroffer.offer_amount : '' %><% } %>">
				</div>
				<div class="form-group">
					<label for="offer_description">Why are you best person for this task.</label>
					<textarea class="form-control" name="offer_description"><% if(typeof useroffer!= 'undefined'){ %><%= useroffer.offer_description !=='undefined' ? useroffer.offer_description : '' %><% } %></textarea>
				</div>
				
				
				<!----<div class="row">
				<div class="col-md-6">
					<div class="">
						<label>you will recieve</label>
						<input type="text" class="form-control" value="" disabled>
					</div>
				</div>
				<div class="col-md-6">
				
				
				<div class="">
					<label>Service Fee</label>
					<input type="text" class="form-control" value="$21" disabled>
				</div>
				
				</div>
				</div>--->
				<input type="hidden" name="project_id" value="<%-data._id %>" >
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Submit Offer</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</form>
				</div>
				</div>
			</div>
<!---end here -------->




<%- include ../layouts/footerscripts.ejs %>
<script src="<%= site_url('front/custom/js/post/fav_list.js') %>"></script>
<script src="<%= site_url('front/custom/js/post/makeanoffer.js') %>"></script>

<% if(!data) { %>
<script>
// Get all location addresses and make an array
var locations = [];

$('.locations li').each(function(index, ele) {
//geocodeAddress($(ele).find('.location-lat').text(), $(ele).find('.location-lng').text());
  locations.push([
  	$(ele).find('.location-address').html(), 
    $(ele).find('.location-lat').text(), 
    $(ele).find('.location-lng').text()
  ]);
});


var markers = [];

    function initialize(beaches) {
    var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: new google.maps.LatLng(-25.274398, 133.77513599999997),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    
        var infowindow = new google.maps.InfoWindow();
    
        for (var i = 0; i < beaches.length; i++) {
    
            var newMarker = new google.maps.Marker({
                position: new google.maps.LatLng(beaches[i][1], beaches[i][2]),
                map: map,
                title: beaches[i][0]
            });
    
            google.maps.event.addListener(newMarker, 'click', (function (newMarker, i) {
                return function () {
                    infowindow.setContent(beaches[i][0]);
                    infowindow.open(map, newMarker);
                }
            })(newMarker, i));
    
            markers.push(newMarker);
        }
    }
    
    initialize(locations);
</script>
<% } %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />
<script>
$("#shareIconsCountInside").jsSocials({
    url: "<%= site_url('post/details/') %><%-data._id %>",
    text: "<%-data.description %>",
    showLabel: false,
    showCount: false,
    shares: ["twitter", "facebook", "googleplus", "linkedin"]
});


<% if(typeof useroffer!= 'undefined'){ %>
var offer_id ="<%= useroffer._id !=='undefined' ? useroffer._id : '' %>";
 <% } else{ %>  
   var offer_id="";
<% } %>

<% if(data){ %>
var project_id ="<%= data._id !=='undefined' ? data._id : '' %>";
 <% } else{ %>  
   var project_id="";
<% } %>


$(".reviews").click(function(){
    $("#clickedbtn").click(); 
    return false;
});
</script>